<div class="header">
<div class="header-image-small"></div>

<div class="instructions">
	<div class='instruction-box'>
		<h2>Instructions</h2>
		<p>On your turn, click roll dice.</p>
		<p>The dice have 3 options:</p>
		<ul>
			<li><strong>Meat</strong> - You have trapped a rabbit +1 score</li>
			<li><strong>Blast</strong> - rabbit shot you +1 wound</li>
			<li><strong>Paws</strong> - The rabbit escaped, this dice will reroll if you choose to continue</li>
		</ul>
		<p>If you rolled 3 Blasts, your turn is over. Otherwise you can choose to stop and score, or continue.</p>
		<p>If you decide to <strong>stop</strong>, score 1 point for each Meat you have. It's the next player's turn.</p>
		<p>If you choose to <strong>keep going</strong>, you will roll 3 dice again. Including the Paws you rolled, the Meats and Blasts are out of play. If you are up to 3 Blasts your turn is over and you score nothing.</p>
	</div>
</div>

<div class="container">
<div class="more-button"><button>Add Player +</button></div>
	<%= form_tag("/games", method: "post") do %>
		<div class="original-list">
		  <%= label_tag("players[]", "Player Name: ") %>
		  <%= text_field_tag("players[]", @players) %><br>
		  <%= label_tag("players[]", "Player Name: ") %>
		  <%= text_field_tag("players[]", @players) %><br>
		</div>
	  <br/><%= submit_tag("Begin", :class => "create-button") %>
	<% end %>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<%= javascript_tag do %>
	$(".more-button").click(function(){
		var e = $('<label for="players_" style="padding-right: 4px;">Player Name: </label><input type="text" name="players[]"><br>');

  	$(".original-list").append(e);
  });
<% end %>
